* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


/* navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: white;
}

.navbar #loginbtn {
    color: black;
    font-size: 0.9em;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 0;
    background-color: #3498db;
    transition: transform 0.1s ease-in-out;  
}

.navbar button:hover{
    cursor: pointer;
}

.navbar button:active{
    transform: scale(0.9);
}

.navbar img {
    margin: 0.5em;
}

.navlinks ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
}

.navlinks ul li {
    margin: 1em;
}

.navlinks ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    /* Start from the center horizontally */
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #3498db;
    /* Color of the underline */
    transition: width 0.3s ease, left 0.3s ease;
    /* Transition for smooth sliding */
    /* transform: translateX(-50%); */
}

.navbar ul a:hover::after {
    width: 100%;
    left: 0;
}

/* Offer Section */

.offer-section {
    background-image: url("https://placehold.co/600x200?text=offer-image");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.offer-section button {
    position: relative;
    top: 77%;
    display: block;
    margin: auto;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
    transition: transform 0.1s ease-in-out;
    background-color: rgb(35, 33, 33);
    font-size: 600;
    color: rgb(217, 208, 208);
}

.offer-section button:hover {
    cursor: pointer;
}

.offer-section button:active {
    transform: scale(0.9);
}

/* menu-container */

.menu-container{
    display: grid;
    gap: 40px;
}

.menu-container h2{
    width:fit-content ;
    margin: 0 auto;
    margin-top: 4em;
    position: relative;
}

.menu-container h2::after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: -5px;
    width: 50%;
    height: 3px;
    background-color:rgb(253, 91, 91) ;
}

.card{
    width: 90%;
    margin: auto;
    background-color: rgb(206, 226, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    border-radius: 10px;
}

.card .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1em;
}

.card .heading h3{
    font-size: 2em;
    border-left: 5px solid #3498db ;
    padding: 0.2em;
}

.card .heading button{
    color: rgb(217, 208, 208);
    padding: 0.7em;
    background-color: rgb(35, 33, 33);
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.card .heading button:active{
    transform: scale(0.95);
}

.card .heading button:hover{
    cursor: pointer;
}

.card-items{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 95%;
    margin: 2em;
}

.card-item{
    background-color: rgb(144, 178, 178);
    border-radius: 5px;
}

.card-item img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-item button{
    display: block;
    width: 100%;
    border: 0;
    margin-top: auto;
    background-color: rgb(35, 33, 33);
    color: rgb(217, 208, 208);
    border-radius: 0 0 5px 5px;
    margin-top: 1em;
    padding: 1em;
}

.card-item h3,.card-item p{
    margin: 0.5em;
}

.card-item h3 {
    color: rgb(235, 54, 54);
}

.card-item span{
    margin: 0 0.2em;
}

.card-item #offer{
    font-size: 0.8em;
    color: red;
    font-weight: bold;
}

.card-item #originalprice{
    color: rgb(62, 62, 62);
    text-decoration: line-through;
}

.card-item #discountprice {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* footer */

footer{
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding: 1em;
}

.bottom-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 1.2em auto;
    padding: 1em;
    width: 90%;
}

.bottom-container h4{
    font-size: larger;
    color: #3498db;
    margin-bottom: 0.7em;
    
}

.bottom-container p{
    margin: 0.3em 0;
}

.bottom-container #quick-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1em;
}

.bottom-container #quick-links a{
    margin: 0.3em 0;
}

.bottom-container #quick-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #3498db;
    height: 2px;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.bottom-container #quick-links a:hover::after{
    width: 100%;
}

.bottom-container #social-contact{
    display: flex;
    flex-direction: column;
}

.bottom-container #social-contact p{
    color: aliceblue;
}

.bottom-container #social-icons i{
    color: aliceblue;
    margin: 0.5em 0;
    margin-right: 0.5em;
    font-size: larger;
}

.bottom-container #social-icons i:hover {
    color:#3498db;
}

.bottom-container #subscribe{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.bottom-container #subscribe p{
    padding: 0.6em;
    background-color: aliceblue;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    margin: 0.3em 0;
}

.bottom-container #subscribe button{
    padding: 0.6em;
    background-color: #3498db;
    color: rgb(35, 33, 33);
    border: 0;
    border-radius: 5px;
    margin: 0.4em 0;
    font-weight: 600;
}

.norms{
    width: 90%;
    text-align: center;
    margin-top: 2em;
    margin: auto;
}
.norms p{
    margin: 1em;
}
.norms span{
    color: aliceblue;
    margin: 0 1em;
}