* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar button {
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 0;
    background-color: #3498db;    
}

.navbar img {
    margin: 0.5em;
}

.navlinks ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navlinks ul a {
    text-decoration: none;
    color: white;
    position: relative;
}

.navlinks ul li {
    margin: 1em;
}

.navlinks ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    /* Start from the center horizontally */
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #3498db;
    /* Color of the underline */
    transition: width 0.3s ease, left 0.3s ease;
    /* Transition for smooth sliding */
    /* transform: translateX(-50%); */
}

.navbar ul a:hover::after {
    width: 100%;
    left: 0;
}

/* Offer Section */

.offer-section {
    background-image: url("https://placehold.co/600x200?text=offer-image");
    /* background-image: url("/images/runnyrem-LfqmND-hym8-unsplash.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    /* opacity: 0.5; */
}

.offer-section button {
    position: relative;
    /* left: 1%; */
    top: 77%;
    display: block;
    margin: auto;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
}

/* menu-container */

.menu-container{
    display: grid;
    gap: 40px;
}

.menu-container h2{
    width:fit-content ;
    margin: 0 auto;
    margin-top: 4em;
    position: relative;
}

.menu-container h2::after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: -5px;
    width: 50%;
    height: 3px;
    background-color:#3498db ;
}

.card{
    width: 90%;
    margin: auto;
    background-color: rgb(225, 245, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.card .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1em;
}

.card .heading h3{
    font-size: 2em;
    border-left: 5px solid #3498db ;
    padding: 0.2em;
}

.card .heading button{
    padding: 0.7em;
    background-color: #3498db;
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
}

.card .heading button:focus{
    transform: scale(0.95);
}

.card .heading button:hover{
    cursor: pointer;
}

.card-items{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
    width: 85%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 2em; */
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 95%;
    margin: 2em;
}

.card-item{
    background-color: rgb(199, 225, 225);
    border-radius: 5px;
    /* width: 30%; */
}

.card-item img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-item button{
    display: block;
    width: 100%;
    border: 0;
    margin-top: auto;
    background-color: rgb(35, 33, 33);
    color: rgb(217, 208, 208);
    border-radius: 0 0 5px 5px;
    margin-top: 1em;
    padding: 1em;
}

.card-item h3,.card-item p{
    margin: 0.5em;
}

.card-item h3 {
    color: rgb(235, 54, 54);
}

.card-item span{
    margin: 0 0.2em;
}

.card-item #offer{
    font-size: 0.8em;
    color: red;
    font-weight: bold;
}

.card-item #originalprice{
    color: rgb(62, 62, 62);
    text-decoration: line-through;
}

.card-item #discountprice {
    font-weight: bold;
    color: black;
    text-decoration: none;
}